In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns',False)

In [3]:
df=pd.read_excel('clean_IPL.xlsx')

In [4]:
df.head()

   date  venue  runs  ...  bowl_team_Rajasthan Royals  bowl_team_Royal Challengers Bangalore  bowl_team_Sunrisers Hyderabad
0  2008     34    61  ...                           0                                      1                              0
1  2008     34    61  ...                           0                                      1                              0
2  2008     34    61  ...                           0                                      1                              0
3  2008     34    61  ...                           0                                      1                              0
4  2008     34    61  ...                           0                                      1                              0

[5 rows x 24 columns]

In [5]:
X_train=df.drop('total',axis=1)[df['date']<2017]
X_test=df.drop('total',axis=1)[df['date']==2017]

y_train=df[df['date']<2017]['total']
y_test=df[df['date']==2017]['total']

In [6]:
X_train.drop('date',axis=1,inplace=True)
X_test.drop('date',axis=1,inplace=True)

In [7]:
print(f'Training size= {X_train.shape} and Testing size= {X_test.shape}')

Training size= (37330, 22) and Testing size= (2778, 22)

In [8]:
from sklearn.metrics import mean_squared_error

In [30]:
from sklearn.tree import DecisionTreeRegressor
tree_model=DecisionTreeRegressor()
tree_model.fit(X_train,y_train)
pred=tree_model.predict(X_test)
print(f'Root Mean Squared Error= {np.sqrt(mean_squared_error(pred,y_test))}')

Root Mean Squared Error= 24.231819277857756

In [31]:
from sklearn.ensemble import RandomForestRegressor
forest_model=RandomForestRegressor()
forest_model.fit(X_train,y_train)
pred=forest_model.predict(X_test)
print(f'Root Mean Squared Error= {np.sqrt(mean_squared_error(pred,y_test))}')

Root Mean Squared Error= 19.27000425912948

In [32]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()
linear_model.fit(X_train,y_train)
pred=linear_model.predict(X_test)
print(f'Root Mean Squared Error= {np.sqrt(mean_squared_error(pred,y_test))}')

Root Mean Squared Error= 16.01271906335777

In [33]:
from xgboost import XGBRegressor
xg_model=XGBRegressor()
xg_model.fit(X_train,y_train)
pred=xg_model.predict(X_test)
print(f'Root Mean Squared Error= {np.sqrt(mean_squared_error(pred,y_test))}')

Root Mean Squared Error= 19.056471337615523

In [9]:
from sklearn.neighbors import KNeighborsRegressor
knn_model=KNeighborsRegressor()
knn_model.fit(X_train,y_train)
pred=knn_model.predict(X_test)
print(f'Root Mean Squared Error= {np.sqrt(mean_squared_error(pred,y_test))}')

Root Mean Squared Error= 22.135686682594855

In [22]:
d={'OUTsurance Oval': 0,
 'De Beers Diamond Oval': 1,
 'Vidarbha Cricket Association Stadium, Jamtha': 2,
 'Buffalo Park': 3,
 'Green Park': 4,
 'Nehru Stadium': 5,
 'Holkar Cricket Stadium': 6,
 'Newlands': 7,
 'Shaheed Veer Narayan Singh International Stadium': 8,
 'Sharjah Cricket Stadium': 9,
 'Sheikh Zayed Stadium': 10,
 'JSCA International Stadium Complex': 11,
 'Barabati Stadium': 12,
 'Dubai International Cricket Stadium': 13,
 "St George's Park": 14,
 'New Wanderers Stadium': 15,
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 16,
 'Himachal Pradesh Cricket Association Stadium': 17,
 'Saurashtra Cricket Association Stadium': 18,
 'Punjab Cricket Association IS Bindra Stadium, Mohali': 19,
 'SuperSport Park': 20,
 'Brabourne Stadium': 21,
 'Sardar Patel Stadium, Motera': 22,
 'Kingsmead': 23,
 'Maharashtra Cricket Association Stadium': 24,
 'Subrata Roy Sahara Stadium': 25,
 'Dr DY Patil Sports Academy': 26,
 'Sawai Mansingh Stadium': 27,
 'Punjab Cricket Association Stadium, Mohali': 28,
 'Rajiv Gandhi International Stadium, Uppal': 29,
 'MA Chidambaram Stadium, Chepauk': 30,
 'Wankhede Stadium': 31,
 'Eden Gardens': 32,
 'Feroz Shah Kotla': 33,
 'M Chinnaswamy Stadium': 34}

In [45]:
def predict_score(venue,runs, wickets,overs, 
                  runs_last_5, wickets_last_5,batting_team, bowling_team):
    temp_array= []
    temp_array.append(d[venue])  
    temp_array+=[runs, wickets,overs, runs_last_5, wickets_last_5]

  # Batting Team
    if batting_team == 'Chennai Super Kings':
        temp_array = temp_array + [1,0,0,0,0,0,0,0]
    elif batting_team == 'Delhi Daredevils':
        temp_array = temp_array + [0,1,0,0,0,0,0,0]
    elif batting_team == 'Kings XI Punjab':
        temp_array = temp_array + [0,0,1,0,0,0,0,0]
    elif batting_team == 'Kolkata Knight Riders':
        temp_array = temp_array + [0,0,0,1,0,0,0,0]
    elif batting_team == 'Mumbai Indians':
        temp_array = temp_array + [0,0,0,0,1,0,0,0]
    elif batting_team == 'Rajasthan Royals':
        temp_array = temp_array + [0,0,0,0,0,1,0,0]
    elif batting_team == 'Royal Challengers Bangalore':
        temp_array = temp_array + [0,0,0,0,0,0,1,0]
    elif batting_team == 'Sunrisers Hyderabad':
        temp_array = temp_array + [0,0,0,0,0,0,0,1]

    # Bowling Team
    if bowling_team == 'Chennai Super Kings':
        temp_array = temp_array + [1,0,0,0,0,0,0,0]
    elif bowling_team == 'Delhi Daredevils':
        temp_array = temp_array + [0,1,0,0,0,0,0,0]
    elif bowling_team == 'Kings XI Punjab':
        temp_array = temp_array + [0,0,1,0,0,0,0,0]
    elif bowling_team == 'Kolkata Knight Riders':
        temp_array = temp_array + [0,0,0,1,0,0,0,0]
    elif bowling_team == 'Mumbai Indians':
        temp_array = temp_array + [0,0,0,0,1,0,0,0]
    elif bowling_team == 'Rajasthan Royals':
        temp_array = temp_array + [0,0,0,0,0,1,0,0]
    elif bowling_team == 'Royal Challengers Bangalore':
        temp_array = temp_array + [0,0,0,0,0,0,1,0]
    elif bowling_team == 'Sunrisers Hyderabad':
        temp_array = temp_array + [0,0,0,0,0,0,0,1]

    temp_array = np.array([temp_array])

    return int(linear_model.predict(temp_array)[0])

In [52]:
final_score = predict_score(batting_team='Mumbai Indians', bowling_team='Kings XI Punjab', overs=14.1,
                            runs=136, wickets=4, runs_last_5=50, wickets_last_5=0,venue='Wankhede Stadium')
print("The final predicted score (range): {} to {}".format(final_score-7, final_score+8))

The final predicted score (range): 184 to 199