In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import joblib

In [2]:
df=pd.read_excel('clean_IPL.xlsx')

In [3]:
df.head()

,date,venue,runs,wickets,overs,runs_last_5,wickets_last_5,total,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
0,2008,34,61,0,5.1,59,0,222,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2008,34,61,1,5.2,59,1,222,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2008,34,61,1,5.3,59,1,222,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2008,34,61,1,5.4,59,1,222,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2008,34,61,1,5.5,58,1,222,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
X=df.drop(['total','date'],axis=1)
y=df['total']

In [5]:
X.head()

,venue,runs,wickets,overs,runs_last_5,wickets_last_5,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
0,34,61,0,5.1,59,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,34,61,1,5.2,59,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,34,61,1,5.3,59,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,34,61,1,5.4,59,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,34,61,1,5.5,58,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [6]:
y.head()

0    222
1    222
2    222
3    222
4    222
Name: total, dtype: int64

In [7]:
model=LinearRegression()

In [8]:
model.fit(X,y)

LinearRegression()

In [9]:
joblib.dump(model,'linear_model.pkl')

['linear_model.pkl']